<div class="page-header">
  <div class="page-top">
    <div class="container">
      <div class="row">
        <div class="block">
          <div class="col-xs-12">
            <h2>The Office Quotes</h2>
            <p>"Sometimes I’ll start a sentence and I don’t even know where it’s going. I just hope I find it along the way."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="page-content"></div>
</div>



